project/jump_box/terraform.exe
project/private_server/terraform.exe


project/jump-box/.terraform
project/private_server/.terraform



project/jump-box/terraform.auto.tfvars
project/private_server/terraform.auto.tfvars


